.header {
  background-color: var(--primary-color);
  padding: 10px 0;
  color: #ff0404;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the header links */
.header h1 {
  margin: 0;
  padding: 0 20px;
}

.header a {
  color: #fff;
  font-size: 18px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Float the link section to the right */
.header-right {
}

.header-right a {
  padding: 10px 20px;
  border-radius: 4px;
}

.header-right a:hover {
  background-color: var(--secondary-color);
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 992px) {
  .header {
    display: block;
  }
  .header a {
    display: block;
    text-align: left;
  }
  .header-right {
  }
}
/* Style the active/current link*/
a.act {
  background: linear-gradient(to right, #fd746c 0%, #ff9068 100%);
  color: white;
  border-radius: 30px;
}
a.logo2 {
  background-color: #333;
}
